* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15em;
}

header {
  font-weight: 400;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

#input-container {
  border: 2px solid black;
  padding: 1em;
  margin-bottom: 0.5em;
}

table {
  border: 2px dashed black;
  padding: 1em;
}

.expense-table th:first-child,
.expense-table td:first-child {
  padding-right: 8em;
  padding-left: 2em;
}

.expense-table th,
.expense-table td {
  padding-right: 6em;
}
